body {
  background: #f2ecdc;
}


img{
  height: 200px;
  width: 300px;
}



.logo{
  height: 75px;
  width: 100px;
}
.content {
  display: flex;
  justify-content: center;
  text-align: center;
}

.holder{
  width: 40%;
  background-color: #f9f5ea;
  margin: 30px;
  padding: 10px;
  border: Solid gold 1px;
}
.main-title {
  display: flex;
  justify-content: center;
  text-align: center;
}
