<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Castles of Britain</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/new">Wish to contribute</a>
    </nav>
    <%= yield %>
  </body>
</html>
