
body{
  font-family: "Raleway", sans-serif;
  margin: 0px;
}

h1, h4{
  color: #E13A63;
}
nav {
  background: black;
  color:White;
  width: 100%;
  padding:0px 15%;
}

nav img {
  height: 10%;
  width: 50%;
}


nav a {
  color:inherit;
  text-decoration: none;
  padding: 0px 20px;
}
nav a:hover {
  color: grey;
}

nav li {
  list-style: none;
  display: inline-block;
}

.main-content{
  padding: 0px 15%;
}
.profilepic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.screenshot {
  height: 300px;
}
